<dashboard></dashboard>
<footer class="footer">
  <div class="pull-right hidden-xs">
    <i class='fa fa-facebook'></i>
    <i class='fa fa-twitter'></i>
    <i class='fa fa-instagram'></i>
  </div>
  <div class="content has-text-centered">
    <p>
      <strong>Copyright &copy; 2018 <a href="#">Obelisk</a>.</strong> All rights reserved.
    </p>
  </div>
</footer>
