<section class="hero is-success is-fullheight">
    <div class="hero-body">
      <div class="container has-text-centered">
        <div class="column is-4 is-offset-4">
          <h3 class="title has-text-grey">Login</h3>
          <p class="subtitle has-text-grey">Please login to proceed.</p>
          <div class="box">
            <figure class="avatar">
              <img src="/images/vsu-logo.png">
            </figure>
            <p>Log in your credentials.</p>
            <b-message type="is-warning" has-icon>
              For Administrators only!
            </b-message>
            <%= form_tag sessions_path, class: 'form-signin', method: :post do %>
              <div class='field'>
                <div class="control has-icons-left has-icons-right">
                  <%= text_field_tag :username, nil, required: true, placeholder: 'Username', class: "input" %>
                  <span class="icon is-small is-left">
                    <i class="fa fa-user"></i>
                  </span>
                </div>
             </div>
              <div class='field'>
                <div class="control has-icons-left has-icons-right">
                  <%= password_field_tag :password, nil, class: "input", required: true, placeholder: 'Password'%>
                  <span class="icon is-small is-left">
                    <i class="fa fa-lock"></i>
                  </span>
                </div>
              </div>
               <%= submit_tag 'Sign in', class: "button is-block is-primary is-large is-fullwidth", id: 'signin' %>
           <% end %>
          </div>
          <p class="has-text-grey">
            <a href="../">Sign Up</a> &nbsp;·&nbsp;
            <a href="../">Forgot Password</a> &nbsp;·&nbsp;
            <a href="../">Need Help?</a>
          </p>
        </div>
      </div>
    </div>
  </section>
</div>
